<section class="container-fluid">
    <div class="container box">
        <div class="row myrow">
            <div class="col-lg-3">
                <ul>
                    <li class="headLi">stay</li>
                    @for (item of stayList; track $index) {
                        <li><a href="#" class="eachLi">{{item}}</a></li>
                    }
                </ul>
            </div>
            <div class="col-lg-3">
                <ul>
                    <li class="headLi">support</li>
                    <li><a href="#" class="eachLi">Manage Reservation</a></li>
                    <li><a href="#" class="eachLi">My Account</a></li>
                    <li><a href="#" class="eachLi">Need Help?</a></li>
                    <li><a href="#" class="eachLi">Travel SOS</a></li>
                    <li><a href="#" class="eachLi">PAWS at Sonesta</a></li>
                    <li><a href="#" class="eachLi">Shop Sonesta</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul>
                    <li class="headLi">company</li>
                    <li><a href="#" class="eachLi">About Us</a></li>
                    <li><a href="#" class="eachLi">Sonesta Travel Pass</a></li>
                    <li><a href="#" class="eachLi">Partnerships</a></li>
                    <li><a href="#" class="eachLi">Franchising</a></li>
                    <li><a href="#" class="eachLi">Careers</a></li>
                    <li><a href="#" class="eachLi">Newsroom</a></li>
                    <li><a href="#" class="eachLi">Corporate Responsibility</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul>
                    <li class="headLi">website</li>
                    <li><a href="#" class="eachLi">Privacy Policy</a></li>
                    <li><a href="#" class="eachLi">Manage Cookies</a></li>
                    <li><a href="#" class="eachLi">Terms of Use</a></li>
                    <li><a href="#" class="eachLi">Do Not Sell or Share My Data</a></li>
                    <li><a href="#" class="eachLi">Careers</a></li>
                    <li><a href="#" class="eachLi">Sitemap</a></li>
                </ul>
            </div>
        </div>
        <br>
            <div class="cardBox">
                <div class="SonestaCard">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-3">
                            <img src="/assets/sonestaCard.webp" alt="" height="90">
                        </div>
                        <div class="col-lg-6">
                            <p class="cardDesc">
                                <strong>ONLINE OFFER</strong>
                                <br>
                                Earn up to 95,000 bonus points – enough for up to 9 free nights!
                            </p>
                            <p class="note">Residents of the U.S. and its territories only. See full disclosure for details.</p>
                        </div>
                        <div class="col-lg-3">
                            <div class="applybtn"><a href="#" class="applytxt">Apply Now</a></div>
                            <p class="btnTxt">Apply here for this offer. Offers vary elsewhere.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pb-5"><p class="rights">© 2024 Sonesta Clone By Leela Deepak</p></div>
</section>