<nav class="wholeSecondNav">
    <section class="datePart">
        <input type="text" class="searchInput" placeholder="Find a destination" value="Hyderabad,IN">
        <div class="showDate">
            <input placeholder="From" class="usrDate" [value]="today">&nbsp;
            <img src="assets/rightArrow.png" alt=""
                height="20">&nbsp;
            <input placeholder="To" class="usrDate" [value]="tomorrow">
        </div>
        
    </section>
    <section class="findPart">
        <select class="roomGuest">
            <option value="1 Room, 1 Guest">1 Room, 1 Guest</option>
            <option value="1 Room, 1 Guest">1 Room, 1 Guest</option>
            <option value="1 Room, 1 Guest">1 Room, 1 Guest</option>
        </select>
        <select class="roomRates">
            <option value="Rates">Rates</option>
        </select>
        <button class="findBtn">Find Hotel</button>
    </section>
</nav>

<input type="text" class="searchsmInput" placeholder="Find a destination" value="Hyderabad,IN">