<nav class="wholeFirstNav">
    <section class="firstPart">
        <img src="assets/sonestaLogo.PNG" alt="" class="logo">
        <ul>
            <li><a href="">Our Brands</a></li>
            <li><a href="">Special Offers</a></li>
            <li><a href="">Meetings & Events</a></li>
        </ul>
    </section>
    <section class="SecondPart">
        <ul>
            <li><a href="">Sign In or Join</a></li>
            <li><a href="">Manage Reservations</a></li>
            <li><a href="">Help</a></li>
        </ul>
    </section>
</nav>
