<div class="container">
    <div class="mainNavs">
        <app-first-nav-bar></app-first-nav-bar>
        <app-second-navbar></app-second-navbar>
    </div>
</div>
<app-banner></app-banner>
<div class="container">
  <app-offers></app-offers>
</div>
<app-travelpass></app-travelpass>
<app-featured-banner [bgColor]="firstFeaturedBanner.bgColor" [imgUrl]="firstFeaturedBanner.imgUrl" [title]="firstFeaturedBanner.title" [desc]="firstFeaturedBanner.desc" [tagline]="firstFeaturedBanner.tagLine" [btnText]="firstFeaturedBanner.btnTxt"></app-featured-banner>
<app-destinations></app-destinations>
<app-special-features></app-special-features>
<app-newlyopened-hotels></app-newlyopened-hotels>
<app-newlyrenovatedhotels></app-newlyrenovatedhotels>
<app-featured-banner [bgColor]="secondFeaturedBanner.bgColor" [imgUrl]="secondFeaturedBanner.imgUrl" [title]="secondFeaturedBanner.title" [desc]="secondFeaturedBanner.desc" [tagline]="secondFeaturedBanner.tagLine" [btnText]="secondFeaturedBanner.btnTxt"></app-featured-banner>
<div class="container">
      <ul class="d-lg-flex d-sm-block justify-content-center p-4 text-center">
        <li class="connect">Connect with Sonesta</li>
        <div class="d-flex justify-content-center">
          <li class="connect"><a href="https://www.youtube.com/user/SonestaHotels/"><img src="/assets/youtube.webp" alt="" class="social"></a></li>
          <li class="connect"><a href="https://www.facebook.com/SonestaHotels/"><img src="/assets/facebook.png" alt="" class="social"></a></li>
          <li class="connect"><a href="https://www.instagram.com/sonestahotels"><img src="/assets/instagram.png" alt="" class="social"></a></li>
        </div>
      </ul>
</div>
<app-pg-footer></app-pg-footer>


