.wholeNewlyOpenedHotels{
    background-color: rgb(240, 240, 240);
}

.box{
    padding: 0px 80px 0px 80px;
}

.headDest{
    padding-top: 2.5rem;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 1.5rem;
}

.descDest{
    font-size: 16px;
}

.eachHead{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 1rem !important;
}

.eachDesc{
    font-weight: 400;
    font-size: 16px;
}

.first{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.eachBtn{
    border-bottom: 2px solid;
    color: #404040;
    font-size: .875rem;
    font-weight: 700;
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
    .box{
        padding: 0px 30px 0px 30px;
    }

    .expBtn{
        margin-bottom: 0px;
    }

    .secondRow{
        padding-top:0px;
        padding-bottom: 0px;
    }

    .headDest{
        margin-bottom: 0px;
        padding-top: 1.5rem;
    }

    .first{
        padding-top: 0px;
        margin-bottom: 18px;
    }
}
