<section class="wholeTravelPass">
    <div class="container box">
        <div class="row">
            <div class="col-lg-6">
                <img src="/assets/ultimateImg.webp" alt="Card Image" class="img-fluid">
            </div>
            <div class="col-lg-6 textSide border-0">
                <div class="card-body text-center smcardBody">
                    <p class="travelLine">MAKE TRAVEL YOUR FOREVER LIFESTYLE</p>
                    <h3 class="travelHead">The Ultimate Sonesta Travel Pass <br> Sweepstakes</h3>
                    <p class="travelDesc">Enter for a chance to win a selection of coveted Travel Pass rewards, brought to you by Sonesta and Tripadvisor.</p>
                    <div class="adjustOffers"><a class="exploreLink">Enter Now</a></div>
                </div>
            </div>
        </div>
    </div>
</section>