<section class="wholeTravelPass" [style.background-color]="bgColor">
    <div class="container box">
        <div class="row">
            <div class="col-lg-6 textSide border-0">
                <div class="card-body text-center">
                    <p class="travelLine">{{tagline}}</p>
                    <h3 class="travelHead">{{title}}</h3>
                    <p class="travelDesc">{{desc}}</p>
                    <div class="adjustOffers"><a class="exploreLink">{{btnText}}</a></div>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="{{imgUrl}}" alt="Card Image" class="img-fluid passImg">
            </div>
        </div>
    </div>
</section>